# **Dictionaries**

In [ ]:
std_info=[
    {
        "reg_id":121,
        "name":"Hassam",
        "age":22,
        "section":"5C",
        "department":"BSE"
    },
    {
        "reg_id":113,
        "name":"Asif Nawaz Khan",
        "age":25,
        "section":"5C",
        "department":"BSE"
    }
]

students={"Hassam":65,"Asif":55,"Yawar":55,"A.Rafay":76}
print("Keys:" ,students.keys())
print("Values:" ,students.values())
print(std_info)

Keys: dict_keys(['Hassam', 'Asif', 'Yawar', 'A.Rafay'])
Values: dict_values([65, 55, 55, 76])
[{'reg_id': 121, 'name': 'Hassam', 'age': 22, 'section': '5C', 'department': 'BSE'}, {'reg_id': 113, 'name': 'Asif Nawaz Khan', 'age': 25, 'section': '5C', 'department': 'BSE'}]

# **Lists**

In [ ]:
num = [1,2,3,4,6,7,8,9,10]
print(num)
#created 10 Integrals
print("sum is :",sum(num))
print("Max is :",max(num))
print("Min is :",min(num))

# Add or remove an element
num.append(54)
num.remove(1)
#printing the updated list
print("Updated List: ", num)

#Sorting operations
print("asscending order : " , sorted(num))
print("descending order : " , sorted(num,reverse=True))

[1, 2, 3, 4, 6, 7, 8, 9, 10]
sum is : 50
Max is : 10
Min is : 1
Updated List:  [2, 3, 4, 6, 7, 8, 9, 10, 54]
asscending order :  [2, 3, 4, 6, 7, 8, 9, 10, 54]
descending order :  [54, 10, 9, 8, 7, 6, 4, 3, 2]

# **Tuples**

In [ ]:
names =("Halo","Battlefront II","Arma 3", "Fortnite","Helldivers II")

#access and print the 2nd and the Last element of the tuple
print("Second element:", names[1])
print("Last element:", names[-1])

# Appending an element
# names.append("Destiny 2")
# print("Updated list:", names)


#conver the tuple into a list
nameList= list(names)
nameList.append("Destiny 2")
print("Updated list:", nameList);

Second element: Battlefront II
Last element: Helldivers II
Updated list: ['Halo', 'Battlefront II', 'Arma 3', 'Fortnite', 'Helldivers II', 'Destiny 2']

# **Sets**

In [ ]:
set_a={1,2,3,4,5}
set_b={6,7,8,9,10}

#Union Intersection Difference
print("Union:", set_a | set_b)
print("Intersection:", set_a & set_b)
print("Difference:", set_a - set_b)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection: set()
Difference: {1, 2, 3, 4, 5}